@{
    ViewData["Title"] = "Assembler Learn";
}
<div class="centerRight">
    <h2>О разделе</h2>
    <p>Данный раздел посвящен низкоуровнему программированию и программированию на ассемблерах.</p>
    <p>
        Ассемблеры представляют собой языки низкого уровня, предназначеные для прямого доступа к аппаратным ресурсам компьютерной техники.
        Несмотря на господство в программировании языков высокого уровня, ассемблеры остаются востребованными и используемыми при создании программного обеспечения.
        Вы не сделаете загрузчик операционной системы на языке высокого уровня. Чтобы добиться максимальной скорости программы также "узкие" места выгодно делать
        на ассемблере. К тому же, как правило, программа в нативном коде легко дезассемблируется, и зная ассемблер, можно сказать, что делает эта программа.
    </p>
    <p>Наиболее популярные системы для разработки представлены компиляторами MASM и FASM. А также TASM и, используемые преимущественно в линуксах, NASM и GAS.</p>
</div>