@{
    ViewData["Title"] = "Assembler Learn";
}

 <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            
               <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Assembler" asp-action="Index">Assembler</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link text-dark" asp-area="" asp-controller="C_" asp-action="Index">C#</a>
                        </li class="nav-item">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CSS" asp-action="Index">CSS</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link text-dark" asp-area="" asp-controller="HTML" asp-action="Index">HTML</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link text-dark" asp-area="" asp-controller="PYTHON" asp-action="Index">Python</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link text-dark" asp-area="" asp-controller="SQL" asp-action="Index">SQL</a>
                        </li>
                    </ul>
                </div>  
        </nav>
    </header>
 

<div class="centerRight">
    <h2>О разделе</h2>
    <p>Данный раздел посвящен низкоуровнему программированию и программированию на ассемблерах.</p>
    <p>
        Ассемблеры представляют собой языки низкого уровня, предназначеные для прямого доступа к аппаратным ресурсам компьютерной техники.
        Несмотря на господство в программировании языков высокого уровня, ассемблеры остаются востребованными и используемыми при создании программного обеспечения.
        Вы не сделаете загрузчик операционной системы на языке высокого уровня. Чтобы добиться максимальной скорости программы также "узкие" места выгодно делать
        на ассемблере. К тому же, как правило, программа в нативном коде легко дезассемблируется, и зная ассемблер, можно сказать, что делает эта программа.
    </p>
    <p>Наиболее популярные системы для разработки представлены компиляторами MASM и FASM. А также TASM и, используемые преимущественно в линуксах, NASM и GAS.</p>
</div>
