@{
    ViewData["Title"] = "C# Learn";
}
<div class="centerRight">
    <h2>О разделе</h2>
    <p>Данный раздел посвящен низкоуровнему программированию и программированию на ассемблерах.</p>
    <p>
        C# (произносится как "си шарп") — современный объектно-ориентированный и типобезопасный язык 
        программирования. C# позволяет разработчикам создавать разные типы безопасных и надежных
        приложений, выполняющихся в .NET. C# относится к широко известному семейству языков C, и 
        покажется хорошо знакомым любому, кто работал с C, C++, Java или JavaScript. Здесь представлен
        обзор основных компонентов языка C# 8 и более ранних
        версий. Если вы хотите изучить язык с помощью интерактивных примеров, рекомендуем поработать с вводными 
        руководствами по C#.

        C# — объектно-ориентированный, ориентированный на компоненты язык программирования.
        C# предоставляет языковые конструкции для непосредственной поддержки такой концепции работы.
        Благодаря этому C# подходит для создания и применения программных компонентов. С момента создания
        язык C# обогатился функциями для поддержки новых рабочих нагрузок и современными рекомендациями по 
        разработке ПО. В основном C# — объектно-ориентированный язык. Вы определяете типы и их поведение.
    </p>
    
</div>
